<body style="background-image: url('https://images.pexels.com/photos/3648850/pexels-photo-3648850.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')";>
</body><link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<body >
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card" >
                    <div class="card-body" >
                        <div class="form-group">
                            <strong>ADDRESS</strong>
                        </div>
                        <form action="/user/address" autocomplete="off" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="street" placeholder="street" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="area" placeholder="area" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="city" placeholder="city" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="state" placeholder="state" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="country" placeholder="country" required>
                            </div>
                            
                            <button type="submit" class="btn btn-primary form-control">Submit</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>