<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<body  style="background-image: url('https://images.pexels.com/photos/3648850/pexels-photo-3648850.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');"></body>>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
            <h2><strong>Techie Goodies</strong></h2>
            <img src="https://www.reliancedigital.in/medias/FOE-HDFC-Bank-Home-Page-Banner-21-10-2020.jpg?context=bWFzdGVyfGltYWdlc3wyMDEyNTV8aW1hZ2UvanBlZ3xpbWFnZXMvaDRlL2gxNC85NDA5NTgxODc1MjMwLmpwZ3w3NzI1YjI0Y2M4MGNlYjUzYzJlNTg5YWU5YTdjNzc1ZWU2NTY1YWFkYzYzZDI3NDU3MmY5MmZmMzkwYjA1MjM5" width="1000px" height="180px";>
            </div>
        </header>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:30vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body" >
                        <div class=form-group>
                            <strong>WE'D LOVE TO HELP YOU.</strong><Br><b>Contact Us at:</b>
                        </div>
                        <b>For E-Commerce
Related Queries<br></b>
 
022-41117877<br>
 
9:30 AM to 7:30 PM, 365 days
<br>
<b>For Store Related
Queries<br></b>
 
1800-889-1044<br>
 
9:00 AM to 9:00 PM, 365 days
 
 <br><br>
 <b>EMAIL US<br></b>
 TechieGoodies35@gmail.com
 
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>